<div>
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <div class="alert alert-danger" [hidden]="!error">
      There was a problem logging in. Please try again.
    </div>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>

      <button mat-flat-button (click)="login()" color="primary">Login (just click here for now)</button>
    </div>
  </mat-card>
</div>
