<mat-card>
  <mat-card-title>Devices</mat-card-title>

  <button mat-flat-button class="padded-button" (click)="exportList()" color="primary">Export</button>

  <mat-accordion class="padded-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>Search and Filter</mat-expansion-panel-header>
      <div class="container">
        <mat-form-field>
          <input matInput type="text" placeholder="Fulltext Search" [(ngModel)]="fulltextSearchValue"
                 (keydown.enter)="search()" (keydown.esc)="clear()">
          <button mat-button *ngIf="fulltextSearchValue" matSuffix mat-icon-button aria-label="Clear"
                  (click)="clear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <button mat-flat-button (click)="search()" color="primary">Search</button>

      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="padded-accordion">
    <mat-expansion-panel >
      <mat-expansion-panel-header>Displayed Columns</mat-expansion-panel-header>
      <div class="container">
        <mat-checkbox (change)="turnColumnOff('os')">OS</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('build')">Build</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('cpu')">CPU</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('memory')">Memory</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('hardDisk')">HardDisk</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('vorherigerBenutzer1')">Vorheriger Benutzer 1</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('vorherigerBenutzer2')">Vorheriger Benutzer 2</mat-checkbox>
        <mat-checkbox (change)="turnColumnOff('teamviewerId')">Teamviewer ID</mat-checkbox>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="deviceArray" matSort>
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('timestamp')">Timestamp</th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
      </ng-container>

      <ng-container matColumnDef="deviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('deviceName')">Name</th>
        <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('model')">Modell</th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <ng-container matColumnDef="deviceUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('deviceUser')">Benutzer</th>
        <td mat-cell *matCellDef="let element"> {{element.deviceUser}} </td>
      </ng-container>

      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('os')"> OS</th>
        <td mat-cell *matCellDef="let element"> {{element.os}} </td>
      </ng-container>

      <ng-container matColumnDef="build">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('build')">Build</th>
        <td mat-cell *matCellDef="let element"> {{element.build}} </td>
      </ng-container>

      <ng-container matColumnDef="cpu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('cpu')">CPU</th>
        <td mat-cell *matCellDef="let element"> {{element.cpu}} </td>
      </ng-container>

      <ng-container matColumnDef="memory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('memory')">Memory</th>
        <td mat-cell *matCellDef="let element"> {{element.memory}} </td>
      </ng-container>

      <ng-container matColumnDef="hardDisk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('hardDisk')">Harddisk</th>
        <td mat-cell *matCellDef="let element"> {{element.hardDisk}} </td>
      </ng-container>

      <ng-container matColumnDef="installedBiosVersion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('installedBiosVersion')">Inst. BIOS Version</th>
        <td mat-cell *matCellDef="let element"> {{element.installedBiosVersion}} </td>
      </ng-container>

      <ng-container matColumnDef="biosDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('biosDate')">BIOS Date</th>
        <td mat-cell *matCellDef="let element"> {{element.biosDate}} </td>
      </ng-container>

      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('serialNumber')">Seriennummer</th>
        <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="maintenance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('maintenance')">Wartung</th>
        <td mat-cell *matCellDef="let element" [ngClass]="getMaintenanceClass(element.maintenance)"> {{element.maintenance}} </td>
      </ng-container>

      <ng-container matColumnDef="previousUser1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('previousUser1')">Vorheriger Benutzer 1</th>
        <td mat-cell *matCellDef="let element"> {{element.previousUser1}} </td>
      </ng-container>

      <ng-container matColumnDef="previousUser2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('previousUser2')">Vorheriger Benutzer 2</th>
        <td mat-cell *matCellDef="let element"> {{element.previousUser2}} </td>
      </ng-container>

      <ng-container matColumnDef="teamviewerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortArray('teamviewerId')">Teamviewer ID</th>
        <td mat-cell *matCellDef="let element"> {{element.teamviewerId}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'obsolete' : row.obsolete}" class="obsolete"></tr>
    </table>
  </div>
</mat-card>
