table {
  width: 100%;
}

mat-card {
  background-color: whitesmoke;
  height: 100%;
}

.table-container {
  height: 550px;
  overflow: auto;
}

.padded-accordion {
  padding: 5px;
}

.padded-button {
  margin-bottom: 5px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 33%;
}
